{% extends 'base.html' %}

{% block content %}
    <div class="card-content" style="text-align: center">
        <div class="card-content">
            <div class="row" style="text-align: center">
                <img class="circle responsive-img" src="/static/pages/Hand__5-512.png" style="height: 30% ;width: 30%">
            </div>
            <br>
            <br>
            <div class="row">

                <p class="flow-text">Blood is the living fluid that all life is based on. Blood is composed of 60%
                    liquid
                    part
                    and 40% solid part. The liquid part called Plasma, made up of 90% water and 10% nutrients, hormones,
                    etc. is
                    easily replenished by food, medicines, etc. But the solid part that contains RBC (red blood cells),
                    WBC
                    (white blood cells) and Platelets take valuable time to be replaced if lost.
                    <br> This is where you come in. The time taken by a patient's body to replace it could cost his/her
                    life.
                    Sometimes the body might not be in a condition to replace it at all.
                    <br> As you know blood cannot be harvested it can only be donated. This means only you can save a
                    life
                    that
                    needs blood.
                    <br> Every year India requires 40 million units of 250cc blood out of which only a meager 500,000 of
                    blood
                    units are available.
                    <br> Saving a life does not require heroic deeds. You could just do it with a small thought and an
                    even
                    smaller effort by saying "yes".</p>
            </div>
            <div class="row" style="text-align: center">
                <br>
                <br><a href="/register" style="text-align: center"
                       class="waves-effect waves-light btn-large red darken-2">Register</a>
            </div>
        </div>
    </div>

{% endblock %}